LIBRERIAS NECESARIAS PARA TRANSFORMACIÓN DE DATOS

In [1]:
import pandas as pd
import numpy as np

TRANSFORMACIÓN DATOS AMAZON

In [4]:
# LEEMOS AMAZON PRIME COMMA SEPARATED VALUE FILE
amazon_titles = pd.read_csv('amazon_prime_titles-score.csv',delimiter = ',',encoding = "utf-8")

In [5]:
# Concateno columna de 'show_id' con prefijo 'a' para generar campo ID
amazon_titles['id'] = 'a' + amazon_titles['show_id']

In [6]:
# SE RELLENA LOS VALORES NULOS EN CAMPO RATING CON STRING 'G'
amazon_titles['rating'].fillna('G', inplace=True)

In [7]:
# SE UTILIZA .TO_DATETIME PARA CAMBIAR EL FORMATO DE LA COLUMNA 'DATE_ADDED'
amazon_titles['date_added'] = pd.to_datetime(amazon_titles['date_added'], infer_datetime_format=True, errors='coerce')

In [8]:
# AMAZON PRIME
amazon_titles['id'] = amazon_titles['id'].str.lower()
amazon_titles['type'] = amazon_titles['type'].str.lower()
amazon_titles['title'] = amazon_titles['title'].str.lower()
amazon_titles['director'] = amazon_titles['director'].str.lower()
amazon_titles['cast'] = amazon_titles['cast'].str.lower()
amazon_titles['country'] = amazon_titles['country'].str.lower()
amazon_titles['rating'] = amazon_titles['rating'].str.lower()
amazon_titles['listed_in'] = amazon_titles['listed_in'].str.lower()
amazon_titles['description'] = amazon_titles['description'].str.lower()

In [9]:
# DIVISION COLUMNA 'DURATION'
amazon_titles[['duration_int', 'duration_type']] = amazon_titles['duration'].str.split(' ', n=-1, expand=True, regex=None)
amazon_titles = amazon_titles[amazon_titles.columns[:10].tolist() + ['duration_int', 'duration_type'] + amazon_titles.columns[10:-2].tolist()]

In [10]:
amazon_titles['duration_type']=amazon_titles['duration_type'].map({'Seasons':'season',
'Season':'season',
'min':'min'})

In [11]:

#Agregar columna plataforma.

amazon_titles['Plataforma'] = np.nan
amazon_titles['Plataforma'].fillna('Amazon', inplace=True)
amazon_titles.reset_index(drop=True, inplace=True)

TRANSFORMACIÓN DISNEY PLUS

In [12]:
# LEEMOS DISNEY PLUS COMMA SEPARATED VALUE FILE
disney_titles = pd.read_csv('disney_plus_titles-score.csv',delimiter = ',',encoding = "utf-8")

In [13]:
# Concateno columna de 'show_id' con prefijo 'a' para generar campo ID

disney_titles['id'] = 'd' + disney_titles['show_id']

In [14]:
# SE RELLENA LOS VALORES NULOS EN CAMPO RATING CON STRING 'G'

disney_titles['rating'].fillna('G', inplace=True)

In [15]:
# SE UTILIZA .TO_DATETIME PARA CAMBIAR EL FORMATO DE LA COLUMNA 'DATE_ADDED'
disney_titles['date_added'] = pd.to_datetime(disney_titles['date_added'], infer_datetime_format=True, errors='coerce')

In [16]:
# DISNEY PLUS - CAMPOS TEXTO A MINUSCULA
disney_titles['id'] = disney_titles['id'].str.lower()
disney_titles['type'] = disney_titles['type'].str.lower()
disney_titles['title'] = disney_titles['title'].str.lower()
disney_titles['director'] = disney_titles['director'].str.lower()
disney_titles['cast'] = disney_titles['cast'].str.lower()
disney_titles['country'] = disney_titles['country'].str.lower()
disney_titles['rating'] = disney_titles['rating'].str.lower()
disney_titles['listed_in'] = disney_titles['listed_in'].str.lower()
disney_titles['description'] = disney_titles['description'].str.lower()

In [17]:
# DIVISION COLUMNA 'DURATION'
disney_titles[['duration_int', 'duration_type']] = disney_titles['duration'].str.split(' ', n=-1, expand=True, regex=None)
disney_titles = disney_titles[disney_titles.columns[:10].tolist() + ['duration_int', 'duration_type'] + disney_titles.columns[10:-2].tolist()]

In [18]:
#Agregar columna plataforma.

disney_titles['Plataforma'] = np.nan
disney_titles['Plataforma'].fillna('Disney', inplace=True)
disney_titles.reset_index(drop=True, inplace=True)

TRANSFORMACIÓN HULU

In [19]:
# LEEMOS HULU COMMA SEPARATED VALUE FILE
hulu_titles = pd.read_csv('hulu_titles-score.csv',delimiter = ',',encoding = "utf-8")

In [20]:
# SE RELLENA LOS VALORES NULOS EN CAMPO RATING CON STRING 'G'

hulu_titles['rating'].fillna('G', inplace=True)

In [21]:
# Concateno columna de 'show_id' con prefijo 'h' para generar campo ID

hulu_titles['id'] = 'h' + hulu_titles['show_id']

In [22]:
# SE UTILIZA .TO_DATETIME PARA CAMBIAR EL FORMATO DE LA COLUMNA 'DATE_ADDED'
hulu_titles['date_added'] = pd.to_datetime(hulu_titles['date_added'], infer_datetime_format=True, errors='coerce')

In [23]:
# HULU PLUS - CAMPOS TEXTO A MINUSCULA

hulu_titles['id'] = hulu_titles['id'].str.lower()
hulu_titles['type'] = hulu_titles['type'].str.lower()
hulu_titles['title'] = hulu_titles['title'].str.lower()
hulu_titles['director'] = hulu_titles['director'].str.lower()
hulu_titles['country'] = hulu_titles['country'].str.lower()
hulu_titles['rating'] = hulu_titles['rating'].str.lower()
hulu_titles['listed_in'] = hulu_titles['listed_in'].str.lower()
hulu_titles['description'] = hulu_titles['description'].str.lower()

In [24]:
# DIVISION COLUMNA 'DURATION'
hulu_titles[['duration_int', 'duration_type']] = hulu_titles['duration'].str.split(' ', n=-1, expand=True, regex=None)
hulu_titles = hulu_titles[hulu_titles.columns[:10].tolist() + ['duration_int', 'duration_type'] + hulu_titles.columns[10:-2].tolist()]

In [25]:
#Agregar columna plataforma.

hulu_titles['Plataforma'] = np.nan
hulu_titles['Plataforma'].fillna('Hulu', inplace=True)
hulu_titles.reset_index(drop=True, inplace=True)

TRANSFORMACIÓN NETFLIX

In [26]:
# LEEMOS NETFLIX COMMA SEPARATED VALUE FILE
netflix_titles = pd.read_csv('netflix_titles-score.csv',delimiter = ',',encoding = "utf-8")

In [27]:
# Concateno columna de 'show_id' con prefijo 'n' para generar campo ID

netflix_titles['id'] = 'n' + netflix_titles['show_id']

In [28]:
# SE RELLENA LOS VALORES NULOS EN CAMPO RATING CON STRING 'G'

netflix_titles['rating'].fillna('G', inplace=True)

In [29]:
# SE UTILIZA .TO_DATETIME PARA CAMBIAR EL FORMATO DE LA COLUMNA 'DATE_ADDED'
netflix_titles['date_added'] = pd.to_datetime(netflix_titles['date_added'], infer_datetime_format=True, errors='coerce')

In [30]:
# NETFLIX - CAMPOS TEXTO A MINUSCULA
netflix_titles['id'] = netflix_titles['id'].str.lower()
netflix_titles['type'] = netflix_titles['type'].str.lower()
netflix_titles['title'] = netflix_titles['title'].str.lower()
netflix_titles['director'] = netflix_titles['director'].str.lower()
netflix_titles['cast'] = netflix_titles['cast'].str.lower()
netflix_titles['country'] = netflix_titles['country'].str.lower()
netflix_titles['rating'] = netflix_titles['rating'].str.lower()
netflix_titles['listed_in'] = netflix_titles['listed_in'].str.lower()
netflix_titles['description'] = netflix_titles['description'].str.lower()

In [31]:
# DIVISION COLUMNA 'DURATION'
netflix_titles[['duration_int', 'duration_type']] = netflix_titles['duration'].str.split(' ', n=-1, expand=True, regex=None)
netflix_titles = netflix_titles[netflix_titles.columns[:10].tolist() + ['duration_int', 'duration_type'] + netflix_titles.columns[10:-2].tolist()]

In [32]:
#Agregar columna plataforma.

netflix_titles['Plataforma'] = np.nan
netflix_titles['Plataforma'].fillna('Netflix', inplace=True)
netflix_titles.reset_index(drop=True, inplace=True)

In [33]:
#Unión de las 4 tablas en una.
frames = [amazon_titles,disney_titles,hulu_titles,netflix_titles]
dbtotal = pd.concat(frames)
dbtotal.rename(columns={'title':'Titulo','duration':'Duracion','release_year':'Anio_estreno','type':'Tipo','listed_in':'Genero','cast':'Actores'}, inplace=True)

In [34]:
#Aplicar transformaciones a los datos.
#Columna Título.
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('#',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('"',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace("'",''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('(Dub)',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('(Sub) ',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('.hack//',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace(' (4K UHD)',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('(',''))
dbtotal['Titulo'] = dbtotal['Titulo'].str.strip(to_strip=None)

#Columna Duración.
dbtotal['Duracion'].fillna('Sin dato', inplace=True)
dbtotal['duration_int'] = pd.to_numeric(dbtotal['duration_int'], downcast='signed')

In [44]:
dbtotal.to_csv('database_plataformas.csv', index=False)