LIBRERIAS NECESARIAS PARA TRANSFORMACIÓN DE DATOS

In [384]:
import pandas as pd
import numpy as np

TRANSFORMACIÓN DATOS AMAZON

In [385]:
# LEEMOS AMAZON PRIME COMMA SEPARATED VALUE FILE
amazon_titles = pd.read_csv('amazon_prime_titles-score.csv',delimiter = ',',encoding = "utf-8")

In [386]:
# Concateno columna de 'show_id' con prefijo 'a' para generar campo ID
amazon_titles['id'] = 'a' + amazon_titles['show_id']

In [387]:
# SE RELLENA LOS VALORES NULOS EN CAMPO RATING CON STRING 'G'
amazon_titles['rating'].fillna('G', inplace=True)

In [388]:
# SE UTILIZA .TO_DATETIME PARA CAMBIAR EL FORMATO DE LA COLUMNA 'DATE_ADDED'
amazon_titles['date_added'] = pd.to_datetime(amazon_titles['date_added'], infer_datetime_format=True, errors='coerce')

In [389]:
# AMAZON PRIME
amazon_titles['id'] = amazon_titles['id'].str.lower()
amazon_titles['type'] = amazon_titles['type'].str.lower()
amazon_titles['title'] = amazon_titles['title'].str.lower()
amazon_titles['director'] = amazon_titles['director'].str.lower()
amazon_titles['cast'] = amazon_titles['cast'].str.lower()
amazon_titles['country'] = amazon_titles['country'].str.lower()
amazon_titles['rating'] = amazon_titles['rating'].str.lower()
amazon_titles['listed_in'] = amazon_titles['listed_in'].str.lower()
amazon_titles['description'] = amazon_titles['description'].str.lower()

In [390]:
# DIVISION COLUMNA 'DURATION'
amazon_titles[['duration_int', 'duration_type']] = amazon_titles['duration'].str.split(' ', n=-1, expand=True, regex=None)
amazon_titles = amazon_titles[amazon_titles.columns[:10].tolist() + ['duration_int', 'duration_type'] + amazon_titles.columns[10:-2].tolist()]

In [391]:
amazon_titles['duration_type']=amazon_titles['duration_type'].map({'Seasons':'season',
'Season':'season',
'min':'min'})

In [392]:

#Agregar columna plataforma.

amazon_titles['Plataforma'] = np.nan
amazon_titles['Plataforma'].fillna('Amazon', inplace=True)
amazon_titles.reset_index(drop=True, inplace=True)

TRANSFORMACIÓN DISNEY PLUS

In [393]:
# LEEMOS DISNEY PLUS COMMA SEPARATED VALUE FILE
disney_titles = pd.read_csv('disney_plus_titles-score.csv',delimiter = ',',encoding = "utf-8")

In [394]:
# Concateno columna de 'show_id' con prefijo 'a' para generar campo ID

disney_titles['id'] = 'd' + disney_titles['show_id']

In [395]:
# SE RELLENA LOS VALORES NULOS EN CAMPO RATING CON STRING 'G'

disney_titles['rating'].fillna('G', inplace=True)

In [396]:
# SE UTILIZA .TO_DATETIME PARA CAMBIAR EL FORMATO DE LA COLUMNA 'DATE_ADDED'
disney_titles['date_added'] = pd.to_datetime(disney_titles['date_added'], infer_datetime_format=True, errors='coerce')

In [397]:
# DISNEY PLUS - CAMPOS TEXTO A MINUSCULA
disney_titles['id'] = disney_titles['id'].str.lower()
disney_titles['type'] = disney_titles['type'].str.lower()
disney_titles['title'] = disney_titles['title'].str.lower()
disney_titles['director'] = disney_titles['director'].str.lower()
disney_titles['cast'] = disney_titles['cast'].str.lower()
disney_titles['country'] = disney_titles['country'].str.lower()
disney_titles['rating'] = disney_titles['rating'].str.lower()
disney_titles['listed_in'] = disney_titles['listed_in'].str.lower()
disney_titles['description'] = disney_titles['description'].str.lower()

In [398]:
# DIVISION COLUMNA 'DURATION'
disney_titles[['duration_int', 'duration_type']] = disney_titles['duration'].str.split(' ', n=-1, expand=True, regex=None)
disney_titles = disney_titles[disney_titles.columns[:10].tolist() + ['duration_int', 'duration_type'] + disney_titles.columns[10:-2].tolist()]

In [399]:
#Agregar columna plataforma.

disney_titles['Plataforma'] = np.nan
disney_titles['Plataforma'].fillna('Disney', inplace=True)
disney_titles.reset_index(drop=True, inplace=True)

TRANSFORMACIÓN HULU

In [400]:
# LEEMOS HULU COMMA SEPARATED VALUE FILE
hulu_titles = pd.read_csv('hulu_titles-score.csv',delimiter = ',',encoding = "utf-8")

In [401]:
# SE RELLENA LOS VALORES NULOS EN CAMPO RATING CON STRING 'G'

hulu_titles['rating'].fillna('G', inplace=True)

In [403]:
# Concateno columna de 'show_id' con prefijo 'h' para generar campo ID

hulu_titles['id'] = 'h' + hulu_titles['show_id']

In [404]:
# SE UTILIZA .TO_DATETIME PARA CAMBIAR EL FORMATO DE LA COLUMNA 'DATE_ADDED'
hulu_titles['date_added'] = pd.to_datetime(hulu_titles['date_added'], infer_datetime_format=True, errors='coerce')

In [405]:
# HULU PLUS - CAMPOS TEXTO A MINUSCULA

hulu_titles['id'] = hulu_titles['id'].str.lower()
hulu_titles['type'] = hulu_titles['type'].str.lower()
hulu_titles['title'] = hulu_titles['title'].str.lower()
hulu_titles['director'] = hulu_titles['director'].str.lower()
hulu_titles['country'] = hulu_titles['country'].str.lower()
hulu_titles['rating'] = hulu_titles['rating'].str.lower()
hulu_titles['listed_in'] = hulu_titles['listed_in'].str.lower()
hulu_titles['description'] = hulu_titles['description'].str.lower()

In [406]:
# DIVISION COLUMNA 'DURATION'
hulu_titles[['duration_int', 'duration_type']] = hulu_titles['duration'].str.split(' ', n=-1, expand=True, regex=None)
hulu_titles = hulu_titles[hulu_titles.columns[:10].tolist() + ['duration_int', 'duration_type'] + hulu_titles.columns[10:-2].tolist()]

In [407]:
#Agregar columna plataforma.

hulu_titles['Plataforma'] = np.nan
hulu_titles['Plataforma'].fillna('Hulu', inplace=True)
hulu_titles.reset_index(drop=True, inplace=True)

TRANSFORMACIÓN NETFLIX

In [408]:
# LEEMOS NETFLIX COMMA SEPARATED VALUE FILE
netflix_titles = pd.read_csv('netflix_titles-score.csv',delimiter = ',',encoding = "utf-8")

In [409]:
# Concateno columna de 'show_id' con prefijo 'n' para generar campo ID

netflix_titles['id'] = 'n' + netflix_titles['show_id']

In [410]:
# SE RELLENA LOS VALORES NULOS EN CAMPO RATING CON STRING 'G'

netflix_titles['rating'].fillna('G', inplace=True)

In [126]:
# SE UTILIZA .TO_DATETIME PARA CAMBIAR EL FORMATO DE LA COLUMNA 'DATE_ADDED'
netflix_titles['date_added'] = pd.to_datetime(netflix_titles['date_added'], infer_datetime_format=True, errors='coerce')

In [411]:
# NETFLIX - CAMPOS TEXTO A MINUSCULA
netflix_titles['id'] = netflix_titles['id'].str.lower()
netflix_titles['type'] = netflix_titles['type'].str.lower()
netflix_titles['title'] = netflix_titles['title'].str.lower()
netflix_titles['director'] = netflix_titles['director'].str.lower()
netflix_titles['cast'] = netflix_titles['cast'].str.lower()
netflix_titles['country'] = netflix_titles['country'].str.lower()
netflix_titles['rating'] = netflix_titles['rating'].str.lower()
netflix_titles['listed_in'] = netflix_titles['listed_in'].str.lower()
netflix_titles['description'] = netflix_titles['description'].str.lower()

In [412]:
# DIVISION COLUMNA 'DURATION'
netflix_titles[['duration_int', 'duration_type']] = netflix_titles['duration'].str.split(' ', n=-1, expand=True, regex=None)
netflix_titles = netflix_titles[netflix_titles.columns[:10].tolist() + ['duration_int', 'duration_type'] + netflix_titles.columns[10:-2].tolist()]

In [413]:
#Agregar columna plataforma.

netflix_titles['Plataforma'] = np.nan
netflix_titles['Plataforma'].fillna('Netflix', inplace=True)
netflix_titles.reset_index(drop=True, inplace=True)

In [762]:
#Unión de las 4 tablas en una.
frames = [amazon_titles,disney_titles,hulu_titles,netflix_titles]
dbtotal = pd.concat(frames)
dbtotal.rename(columns={'title':'Titulo','duration':'Duracion','release_year':'Anio_estreno','type':'Tipo','listed_in':'Genero','cast':'Actores'}, inplace=True)

In [782]:
#Aplicar transformaciones a los datos.
#Columna Título.
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('#',''),inplace=True)
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('"',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace("'",''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('(Dub)',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('(Sub) ',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('.hack//',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace(' (4K UHD)',''))
dbtotal['Titulo'] = dbtotal['Titulo'].apply(lambda x: x.replace('(',''))
dbtotal['Titulo'] = dbtotal['Titulo'].str.strip(to_strip=None)

#Columna Duración.
dbtotal['Duracion'].fillna('Sin dato', inplace=True)
dbtotal['duration_int'] = pd.to_numeric(dbtotal['duration_int'], downcast='signed')

In [892]:
# Consulta1. Cantidad de veces que aparece una keyword en el título de peliculas/series, por plataforma
def get_word_count2(plataforma,keyword):
    lista_plataforma = ['Amazon','Disney','Hulu','Netflix']
    if plataforma in lista_plataforma:
        consulta_1 = dbtotal[['Titulo','Plataforma']]
        filt = consulta_1[consulta_1['Plataforma'] == plataforma]
        resultado1 = filt['Titulo'].str.contains(keyword).sum()
        return (f'La palabra: "{keyword}" se repite una cantidad de: - {resultado1} - veces en la Plataforma: {plataforma}')
    else:
        return (f'Los parámetros ingresados son incorrectos. Probar de Nuevo')

In [893]:
get_word_count2("Netflix",'love')

'La palabra: "love" se repite una cantidad de: - 196 - veces en la Plataforma: Netflix'

In [871]:
#Cantidad de películas por plataforma con un puntaje mayor a XX en determinado año
def get_score_count(plataforma:str, xx:int, anio:int):
    consulta_2= dbtotal[["Plataforma","Anio_estreno","score"]]
    resultado = consulta_2[(consulta_2['Plataforma']== plataforma)&(consulta_2['Anio_estreno']== anio)&(consulta_2['score']> xx)]
    cantidad = len(resultado.index)
    return (f'La cantidad de peliculas de la Plataforma: {plataforma}, con puntaje mayor a - {xx} - en el año {anio} es de: {cantidad} peliculas')

In [872]:
get_score_count('Netflix',85,2010)

'La cantidad de peliculas de la Plataforma: Netflix, con puntaje mayor a - 85 - en el año 2010 es de: 25 peliculas'

In [865]:
#La segunda película con mayor score para una plataforma determinada, según el orden alfabético de los títulos.
def get_second_score(plataforma):
    consulta_3 = dbtotal[['Titulo','Plataforma','score','Tipo',]]
    consulta_3 = consulta_3[consulta_3.Tipo != 'tv show']
    resultado = consulta_3[(consulta_3['Plataforma'] == plataforma)]
    resultado = resultado[['Titulo','score']]
    resultado = resultado.sort_values(['score','Titulo'],ascending=[False,True])
    titulo = resultado['Titulo'].iloc[1]
    score = resultado['score'].iloc[1]
    return (f'La Segunda pelicula con mayor score de la Plataforma: {plataforma} , es {titulo} con un score de: {score}')

In [866]:
get_second_score('Amazon')

'La Segunda pelicula con mayor score de la Plataforma: Amazon , es abilene town con un score de: 100'

In [858]:
def get_longest(plataforma,tipo,anio):
    anio = int(anio)
    lista_plataforma = ['Amazon','Disney','Hulu','Netflix']
    lista_tipo = ['min']
    if (plataforma in lista_plataforma) and (tipo in lista_tipo) and (anio in range(dbtotal.Anio_estreno.min(),dbtotal.Anio_estreno.max()+1)):
        df_d = dbtotal[['Plataforma','Titulo','Anio_estreno','Tipo','duration_int','duration_type']]
        df_d =df_d[df_d.Tipo != 'tv show']
        df_d = df_d[(df_d['Plataforma'] == plataforma)&(df_d['Anio_estreno'] == anio)]
        resultado4 = df_d.sort_values('duration_int',ascending=False)
        resultado4=resultado4[['Titulo','duration_int','duration_type']].iloc[0]
        longest = resultado4['Titulo']
        longest_time = resultado4['duration_int']
        longest_time_type = resultado4['duration_type']
        
        return (f'La pelicula mas larga de la Plataforma: {plataforma} es {longest} con una duracion de {longest_time} {longest_time_type}')
        
    else:
        return (f'Parametros incorrectos.Probar de Nuevo')

In [859]:
get_longest('Netflix','min','2016')

'La pelicula mas larga de la Plataforma: Netflix es sairat con una duracion de 173.0 min'

In [790]:
dbtotal['rating'].value_counts().head(30)

tv-ma        3675
tv-14        3138
r            2154
13+          2117
tv-pg        1654
16+          1547
g            1269
all          1268
18+          1243
pg-13        1112
pg            881
tv-g          767
tv-y7         550
tv-y          462
7+            385
nr            304
tv-nr         105
1 season       42
unrated        33
tv-y7-fv       19
89 min         11
91 min          9
80 min          9
2 seasons       9
90 min          9
88 min          8
94 min          8
99 min          8
85 min          8
101 min         7
Name: rating, dtype: int64

In [860]:
# Cantidad de series y películas por rating
def get_rating_count(rating):
    consulta_5 = dbtotal[['rating']]
    resultado_5 = len(consulta_5[(consulta_5['rating']== rating)])
    
    return (f'Hay un total de: {resultado_5} peliculas/series con Rating: {rating} ')

In [861]:
get_rating_count('18+')

'Hay un total de: 1243 peliculas/series con Rating: 18+ '